<ng-container *transloco="let t">
  <div class="media-viewer">
    <h1>{{ t('buttons.title') }}</h1>
    <section>
      <div class="example-label">Text</div>
      <div class="example-button-row">
        <button matButton>Basic</button>
        <button class="tertiary" matButton>Accent</button>
        <button class="secondary" matButton>Secondary</button>
        <button class="error" matButton>Error</button>
        <button class="default-color" matButton>Default</button>
        <button disabled matButton>Disabled</button>
        <a href="https://www.google.com/" matButton target="_blank">Link</a>
      </div>
    </section>

    <mat-divider />

    <section>
      <div class="example-label">Elevated</div>
      <div class="example-button-row">
        <button matButton="elevated">Basic</button>
        <button class="tertiary" matButton="elevated">Accent</button>
        <button class="secondary" matButton="elevated">Secondary</button>
        <button class="error" matButton="elevated">Error</button>
        <button class="default-color" matButton="elevated">Default</button>
        <button disabled matButton="elevated">Disabled</button>
        <a href="https://www.google.com/" matButton="elevated" target="_blank">Link</a>
      </div>
    </section>

    <mat-divider />

    <section>
      <div class="example-label">Outlined</div>
      <div class="example-button-row">
        <button matButton="outlined">Basic</button>
        <button class="tertiary" matButton="outlined">Accent</button>
        <button class="secondary" matButton="outlined">Secondary</button>
        <button class="error" matButton="outlined">Error</button>
        <button class="default-color" matButton="outlined">Default</button>
        <button disabled matButton="outlined">Disabled</button>
        <a href="https://www.google.com/" matButton="outlined" target="_blank">Link</a>
      </div>
    </section>

    <mat-divider />

    <section>
      <div class="example-label">Filled</div>
      <div class="example-button-row">
        <button matButton="filled">Basic</button>
        <button class="tertiary" matButton="filled">Accent</button>
        <button class="secondary" matButton="filled">Secondary</button>
        <button class="error" matButton="filled">Error</button>
        <button class="default-color" matButton="filled">Default</button>
        <button disabled matButton="filled">Disabled</button>
        <a href="https://www.google.com/" matButton="filled" target="_blank">Link</a>
      </div>
    </section>

    <mat-divider />

    <section>
      <div class="example-label">Tonal</div>
      <div class="example-button-row">
        <button matButton="tonal">Basic</button>
        <button class="tertiary" matButton="tonal">Accent</button>
        <button class="secondary" matButton="tonal">Secondary</button>
        <button class="error" matButton="tonal">Error</button>
        <button class="default-color" matButton="tonal">Default</button>
        <button disabled matButton="tonal">Disabled</button>
        <a href="https://www.google.com/" matButton="tonal" target="_blank">Link</a>
      </div>
    </section>

    <mat-divider />

    <section>
      <div class="example-label">Icon</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <button aria-label="Example icon button with a vertical three dot icon" matIconButton>
            <mat-icon>more_vert</mat-icon>
          </button>
          <button class="primary" aria-label="Example icon button with a open in new tab icon" matIconButton>
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button class="tertiary" aria-label="Example icon button with a open in new tab icon" matIconButton>
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button class="secondary" aria-label="Example icon button with a open in new tab icon" matIconButton>
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button class="error" aria-label="Example icon button with a open in new tab icon" matIconButton>
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button class="default-color" aria-label="Example icon button with a open in new tab icon" matIconButton>
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button aria-label="Example icon button with a open in new tab icon" disabled matIconButton>
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
      </div>
    </section>

    <mat-divider />

    <section>
      <div class="example-label">Floating Action Button (FAB)</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <button aria-label="Example icon button with a delete icon" matFab>
            <mat-icon>delete</mat-icon>
          </button>
          <button class="tertiary" aria-label="Example icon button with a delete icon" matFab>
            <mat-icon>delete</mat-icon>
          </button>
          <button class="secondary" aria-label="Example icon button with a delete icon" matFab>
            <mat-icon>delete</mat-icon>
          </button>
          <button class="error" aria-label="Example icon button with a delete icon" matFab>
            <mat-icon>delete</mat-icon>
          </button>
          <button class="default-color" aria-label="Example icon button with a delete icon" matFab>
            <mat-icon>delete</mat-icon>
          </button>
          <button aria-label="Example icon button with a heart icon" disabled matFab>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </section>

    <mat-divider />

    <section>
      <div class="example-label">Mini FAB</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <button aria-label="Example icon button with a menu icon" matMiniFab>
            <mat-icon>menu</mat-icon>
          </button>
          <button class="tertiary" aria-label="Example icon button with a delete icon" matMiniFab>
            <mat-icon>delete</mat-icon>
          </button>
          <button class="secondary" aria-label="Example icon button with a delete icon" matMiniFab>
            <mat-icon>delete</mat-icon>
          </button>
          <button class="error" aria-label="Example icon button with a delete icon" matMiniFab>
            <mat-icon>delete</mat-icon>
          </button>
          <button class="default-color" aria-label="Example icon button with a delete icon" matMiniFab>
            <mat-icon>delete</mat-icon>
          </button>
          <button aria-label="Example icon button with a home icon" disabled matMiniFab>
            <mat-icon>home</mat-icon>
          </button>
        </div>
      </div>
    </section>

    <mat-divider />

    <section>
      <div class="example-label">Extended FAB</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <button extended matFab>
            <mat-icon>favorite</mat-icon>
            Basic
          </button>
          <button class="tertiary" extended matFab>
            <mat-icon>favorite</mat-icon>
            Accent
          </button>
          <button class="secondary" extended matFab>
            <mat-icon>favorite</mat-icon>
            Secondary
          </button>
          <button class="error" extended matFab>
            <mat-icon>favorite</mat-icon>
            Error
          </button>
          <button class="default-color" extended matFab>
            <mat-icon>favorite</mat-icon>
            Default
          </button>
          <button disabled extended matFab>
            <mat-icon>favorite</mat-icon>
            Disabled
          </button>
          <a extended matFab routerLink=".">
            <mat-icon>favorite</mat-icon>
            Link
          </a>
        </div>
      </div>
    </section>
  </div>
</ng-container>
