<mat-card style="width: 24rem">
  <mat-card-header>
    <mat-card-title-group>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Заголовок</mat-card-title>
      <mat-card-subtitle>Подзаголовок</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur minus officia quae quod vitae? Autem ex facilis natus nesciunt nobis porro sapiente soluta. Commodi eos nesciunt perspiciatis veritatis vero.
    </p>
  </mat-card-content>
  <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="">
  <mat-card-footer>
    <mat-card-actions align="end">
      <button matIconButton><mat-icon>settings</mat-icon></button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-sm-image class="example-header-image"></div>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur minus officia quae quod vitae? Autem ex facilis natus nesciunt nobis porro sapiente soluta. Commodi eos nesciunt perspiciatis veritatis vero.
    </p>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <button matIconButton><mat-icon>settings</mat-icon></button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
