{
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-organize-attributes"],
  "attributeSortOrder": [
    "^\\(.*\\)$",
    "^#.*$",
    "^id$",
    "^class$",
    "^[a-zA-Z]"
  ],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
