.sidenav-container {
  .sidenav {
    width: 16rem;

    top: var(--toolbar-height) !important;
    height: calc(100% - var(--toolbar-height));
  }

  .progress-bar {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .sidenav-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1 !important;
    flex-shrink: 1 !important;

    height: calc(100vh - var(--toolbar-height));
    overflow: hidden;
  }
}

.sidenav.mat-drawer-opened ~ .sidenav-content {
  > * {
    margin-left: .3rem;
  }
}
