.toolbar {
  height: calc(var(--toolbar-height) - .3rem);

  margin-bottom: .3rem;
  border-bottom-left-radius: var(--mat-sidenav-container-shape, var(--mat-sys-corner-large));
  border-bottom-right-radius: var(--mat-sidenav-container-shape, var(--mat-sys-corner-large));
  gap: .5rem;
}

.spacer {
  flex: 1 1 auto;
}
