<ng-container *transloco="let t">
  <mat-toolbar class="toolbar" style="box-shadow: var(--mat-sys-level1)">
    <button mat-icon-button class="toolbar-icon" [disabled]="busy()" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <amk-logo [size]="'small'" />

    <span class="spacer"></span>

    <button mat-icon-button class="toolbar-icon" [matMenuTriggerFor]="notificationMenu" [disabled]="busy()">
      <mat-icon>notifications</mat-icon>
    </button>

    <mat-menu #notificationMenu="matMenu">
      <button mat-menu-item>{{ t('toolbar.notifications.item1') }}</button>
      <button mat-menu-item>{{ t('toolbar.notifications.item2') }}</button>
    </mat-menu>

    <button mat-icon-button class="toolbar-icon" [matMenuTriggerFor]="accountMenu" [disabled]="busy()">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #accountMenu="matMenu" class="height-medium" style="margin: 0 !important; padding: 0 !important;">
      <button class="height-medium" mat-menu-item>
        <div style="display: flex; flex-direction: column; padding: 0.4rem 0">
          <span><b>Иванов Иван Иванович</b></span>
          <span class="secondary">{{ '@username' }}</span>
        </div>
      </button>
      <mat-divider />
      <button mat-menu-item [routerLink]="'settings'">
        <mat-icon>settings</mat-icon>
        {{ t('buttons.settings') }}
      </button>
      <mat-divider />
      <button mat-menu-item routerLink="login">
        <mat-icon>logout</mat-icon>
        {{ t('buttons.logout') }}
      </button>
    </mat-menu>

  </mat-toolbar>
</ng-container>
