<ng-container *transloco="let t">
  <mat-toolbar class="toolbar" style="box-shadow: var(--mat-sys-level1)">
    <amk-accessibility-button />

    <button
      [attr.aria-controls]="'app-sidenav'"
      [attr.aria-expanded]="opened()"
      [attr.aria-label]="t('toolbar.menu')"
      [attr.title]="t('toolbar.menu')"
      [disabled]="busy()"
      (click)="toggleSidenav()"
      matIconButton
      type="button"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <amk-logo [size]="'small'" />

    <span class="spacer"></span>

    <amk-notification-menu />
    <amk-account-menu />
  </mat-toolbar>
</ng-container>
