footer {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  padding: 0.5rem 0;

  .footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: .2rem;

    a {
      text-wrap: nowrap;
      color: var(--mat-sys-primary);
      text-decoration: none;
    }
  }

  .footer-copyright {
    color: var(--mat-sys-secondary);
    text-align: center;
  }
}
